<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Comment' %>
  </div>
<% end %>
