<h1>This page shows a Selected user's profile</h1>
<ul>It shows :
<li>User's Name</li>
<li>User's Biography</li>
<li>Number of all user's posts</li>
<li>3 of User's posts</li>
<li>Number of likes on each post</li>
<li>Number of comments on each post</li>
<li>button to see all post</li>

</ul>