<div class="users">
    <ul>
        <li class="user-card">
        <div class="img-holder">x</div>
        <div class="card-details">
            <h4 class="user-name">Name</h4>
            <p class="num-of-posts">Number of posts</p>
        </div>
        </li>
        <br/>
<!-- I have alot to do here -->
         <li class="user-card">
        <div class="img-holder">x</div>
        <div class="card-details">
            <h4 class="user-name">User Name</h4>
            <p class="num-of-posts">Number of posts</p>
        </div>
        </li>
        <br/>
         <li class="user-card">
        <div class="img-holder">x</div>
        <div class="card-details">
            <h4 class="user-name">User Name</h4>
            <p class="num-of-posts">Number of posts</p>
        </div>
        </li>
        <br/>
         <li class="user-card">
        <div class="img-holder">x</div>
        <div class="card-details">
            <h4 class="user-name">User Name</h4>
            <p class="num-of-posts">Number of posts</p>
        </div>
        </li>
        <br/>
         <li class="user-card">
        <div class="img-holder">x</div>
        <div class="card-details">
            <h4 class="user-name">User Name</h4>
            <p class="num-of-posts">Number of posts</p>
        </div>
        </li>
    </ul>
</div>
