<h1>This page shows a user's profile</h1>
<ul>It shows
<li>User's Name</li>
<li>Number of all user's posts</li>
<li>All User's posts</li>
<li>comments on user's posts</li>
<li>Number of likes on each post</li>
<li>Number of comments on each post</li>

</ul>