.users-list,
.user-posts-list,
.user-list,
.user-post {
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.user-img {
  width: 100px;
}

form {
  width: 70%;
  margin: auto;
}

.user-card,
.user-card > a {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  gap: 10px;
  text-decoration: none;
}

.img-holder {
  display: flex;
  border: 1px solid black;
  height: 90px;
  width: 100px;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}

.card-details,
.post-details,
.comments-card {
  border: 1px solid black;
  height: 80px;
  width: 100%;
  padding-left: 10px;
}

.num-of-posts {
  margin: 0;
  text-align: right;
  padding-right: 5px;
}

.post-title {
  margin: 0;
  padding-top: 3px;
}

.post-stats {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
}

.post-brief {
  margin: 5px 0 0;
  padding: 0 5px;
}

.post-content {
  padding: 5px;
  border: 1px solid;
  margin: 0 -2px 8px 0;
}

.comments-card {
  margin-top: -9px;
  padding-left: 0;
  height: auto;
}

/* app/assets/stylesheets/application.css */
.button {
  display: block;
  margin: auto;
  width: 60px;
  padding: 10px 20px;
  background-color: #007bff; /* Change the background color to your desired color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}
